* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: #195630;
    padding-top: 16px;
    color: white;
}

header > .container {
    justify-content: space-around;
    align-items: center;
}

.clear {
    clear: both;
}

.container-flex {
    display: flex;
    padding-top: 16px;
}


#sobre-a-loja img {
    display: block;
    max-width: 250px;
    margin-right: 16px;
}

div .container {
    padding-right: 25px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;

}

.lista-itens {
    flex-wrap: wrap;
    margin-right: 16px;
}


.lista-itens li {
    list-style: none;
    max-width: 20%;
    float: left;
    margin-bottom: 24px;
}

.lista-itens li img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    display: grid;
}

button {
    display: block;
    width: 70%;
    padding: 8px 0;
    border: none;
    background-color: rgb(126, 40, 107);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    padding-top: 5px;
}

.price {
padding-bottom: 25px;
}

hr {
    border-top: 2px solid green;
        
}


/*celular*/

@media screen and (max-width: 667px) {
    
    .lista-itens li {
        max-width: 100%;
    }
    
    .container {
        display: block;
        max-width: 100%;
        justify-content: center;
        font-size: 1.5em;
        margin-left: 16px;
        
    }

    #sobre-a-loja {
        font-size: 1.0em;
    }

    #sobre-a-loja img {
        max-width: 100%;
    }

    button {
        display: block;
        width: 25%;
        padding: 8px 0;
        border: none;
        background-color: rgb(53, 32, 48);
        color: white;
        font-size: 0.5em;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border-radius: 6px;
        padding-top: 5px;
    }


/*tablet*/

    @media screen and (min-width: 668) and (max-width: 1080px) {
        
        .lista-itens li {
            max-width: 50%;
        }
        
        .container {
            display: block;
            max-width: 50%;
            justify-content: center;
            font-size: 2.0em;
            margin-left: 16px;
            
        }
    
        #sobre-a-loja {
            font-size: 1.5em;
        }
    
        #sobre-a-loja img {
            max-width: 100%;
        }
    }

}   